{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">{% block title %}Registrar Usuario{% endblock %}</h1>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            <div class="form-group mb-2">
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    name="username" 
                                    placeholder="Nombre de usuario" 
                                    required
                                    minlength="4"
                                    maxlength="20"
                                >
                            </div>
                            <div class="form-group mb-2">
                                <input 
                                    type="password" 
                                    class="form-control" 
                                    name="password" 
                                    placeholder="Password" 
                                    required
                                    minlength="6"
                                    maxlength="20"
                                >
                            </div>
                            <div class="text-center">
                                <input type="submit" class="btn btn-primary" value="Registrar Usuario">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}